.ls-nav-prev, .ls-nav-next {

	background-color: rgba(40, 37, 36, 0.2); // $main-text
	height: 98px!important;
	width: 98px!important;
}

.ls-nav-prev:hover, .ls-nav-next:hover {
	background-color: rgba(40, 37, 36, 0.5); // $main-text
}

.ls-v5 .ls-nav-next {
  background-position: -150px 20px!important;
  background-size: 700px;
}

.ls-v5 .ls-nav-prev {
	background-position: 20px 20px!important;
	background-size: 700px;
}

.ls-bottom-slidebuttons {
	top: -60px!important;
}

.ls-bottom-slidebuttons a {
	background-image: none!important;
	width: 16px!important;
	height: 16px!important;
	margin-right: 10px;
	@include opacity(0.4);
	background-color: $main-text;
	border: 1px solid rgba(255, 255, 255, 0.3)!important;
}

.ls-bottom-slidebuttons a.ls-nav-active {
	background-color: $footer-bg;
	border: 1px solid rgba(255, 255, 255, 0.6)!important;
}

.ls-bottom-slidebuttons a:hover {
	background-color: rgba(225, 225, 225, 0.6);
	border: 1px solid $footer-bg!important;
}