@mixin banner-bg {

background-image: -moz-linear-gradient(94deg, #9B3820 0%, #551616 100%);
background-image: -o-linear-gradient(94deg, #9B3820 0%, #551616 100%);
background-image: -webkit-linear-gradient(94deg, #9B3820 0%, #551616 100%);
background-image: linear-gradient(356deg, #9B3820 0%, #551616 100%);

}

