nav.navbar.navbar-inverse {
	#navbar-collapse-login {
		padding-right: 0;
	}
	margin-bottom: 0;
	border-radius: 0;
	border: 0;
	min-height: 30px;

	li a {
		padding-top: 0;
		padding-bottom: 0;
		color: white;
		font-family: FiraSans;
		font-size: 14px;
		font-weight: 700;
		line-height: 30px;
	}

	li:last-of-type a {
		background-color: $secondary-accent!important;
	}

	li:last-of-type a:hover {
		background-color: $main-accent!important;
	}
	span.email {
		margin-right: 25px;
	}
	span.email:before {
		content: " ";
		background-image: url('../img/email.png');
		width: 12px;
		height: 8px;
		display: inline-block;
		margin-right: 8px;
	}
	span.tel {
		color: white;
		font-family: FiraSans;
		font-size: 14px;
		font-weight: 700;
		line-height: 30px;
		margin-right: 25px;
	}
	span.tel:before {
		content: " ";
		background-image: url('../img/phone.png');
		width: 11px;
		height: 11px;
		display: inline-block;
		margin-right: 8px;
	}
}


nav.navbar.navbar-default {
	border: 0;
	margin-top: 0;
	margin-bottom: 0;
	.container {
		padding: 0;
	}
	color: $main-text;
	&.navbar-default {
		background-color: white;
	}

	.nav > li {
		border-left: solid 1px $menu-border;
		height:auto;
	}
	.nav > li:last-of-type {
		border-right: solid 1px $menu-border;
	} 
	.navbar-brand {
		height: auto;
	}
	.nav > li > a {
		font-family: FiraSans;
		font-size: 16px;
		font-weight: 400;
		line-height: 64px;
		padding-top: 36px;
		padding-left: 34px;
		padding-right: 34px;
	}

	.nav > li.active > a {
		background-color: $menu-bg-active!important;
	}

	.nav > li > a:hover {
		background-color: $menu-bg-hover!important;
	}

	.nav > li:hover:after{
		background-color: lighten($main-accent, 20);
	}

	.nav > li:after {
		content: " ";
		height: 5px;
		display: block;
	}

	.nav > li.active:after  {
		background-color: $main-accent;
	}

}
