@media (min-width: 768px) and (max-width: 1200px) {
	// tighten nav spacing before mobile menu
	.nav > li > a {
		font-family: FiraSans;
		font-size: 16px;
		font-weight: 400;
		line-height: 64px;
		padding-top: 36px;
		padding-left: 14px!important;
		padding-right: 14px!important;
	}

	//footer padding adjust
	.footer {
		p.copyright {
			margin-top: 0;
		}
		footer.container {
			padding-bottom: 30px;
		}
	}
}

@media (min-width:0px) and (max-width: 991px) {
	
	// CLient Login
	nav.navbar.navbar-inverse {
		min-height: 0px;
		span.tel, span.email {
			display: none;
		}
	}
	.navbar-toggle {
        display: block;
    }


 .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}

}

@media (min-width: 992px) and (max-width: 1199px)  {
	.banner {
		height: auto;
		p {
			max-width: 600px;
		}
	}
}

@media (min-width: 720px) and (max-width: 991px) {
	.banner {
		height: auto;
		p {
			max-width: 430px;
		}
		img {
			margin-top:-230px;
		}
	}
}

@media (max-width: 767px){
	.footer {
		p.copyright {
			margin-top: 0;
			text-align: center;
		}
		ul.list-inline {
			text-align: center;
		}
		footer.container {
			// padding-bottom: 30px;
		}
		iframe {
			margin-bottom: 10px;
		}
		span.tel, span.email {
			float: right;
			margin-top: -53px;
		}
	}
}


@media (max-width: 719px) {
	.banner {
		height: auto;
		img {
			margin-top:0;
		}
		h1 {
			font-size: 30px;
		}
	}
}