html, body {
	font-family: FiraSans;
}

a {
	color: $main-link; 
}

a:hover {
	color: $main-link;
	text-decoration: underline;
}

.info-panel {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 60px;
	h2 {
		color: $main-text;
		font-family: FiraSans;
		font-size: 24px;
		font-weight: 400;
		line-height: 26px;
	}
	p {
		color: $main-text;
		font-family: FiraSans;
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
	}
}

.banner {
	height: 317px;
		@include banner-bg();
	.banner-bg {
		background-image: url('../img/banner-bg-lg.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto 100%;
	}

	h1 {
		width: auto;
		height: 33px;
		color: white;
		font-family: FiraSans;
		font-size: 42px;
		font-weight: 500;
		line-height: 64px;

		margin-top: 60px;
		margin-bottom: 40px;
	}
	p {
		max-width: 821px;
		color: white;
		font-family: FiraSans;
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
	}
	img {
		float:right;
		max-width: 310px;
		max-height: 310px;
		min-height: 307px;

		margin-top: -238px;
	}
	a {
		width: 78px;
		height: 13px;
		color: $main-link;
		font-family: FiraSans;
		font-size: 16px;
		font-weight: 500;
		line-height: 26px;

		margin-top: 30px;
	}

	a:hover {
		color: darken($main-link, 5);
	}
}

.partners {
	padding-bottom: 70px;

	h3 {
		color: $main-text;
		font-family: FiraSans;
		font-size: 24px;
		font-weight: 400;
		line-height: 26px;

		margin-top: 60px;
		margin-bottom: 30px;
	}
}

.footer {
	background-color: $footer-bg;
	padding-top: 50px;
	color: white;

	ul li {
		margin-right: 8px;
	}
	p.copyright {
		color: white;
		font-family: FiraSans;
		font-size: 12px;
		font-weight: 400;
		line-height: 26px;

		margin-top: 120px;
	}
	a {
		color: white;
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
	}
	a:hover {
		color: darken(white, 10);
	}

	h3 {
		color: white;
		font-family: FiraSans;
		font-size: 20px;
		font-weight: 400;
		line-height: 26px;

		margin-top: 0;
	}
	p {
		color: white;
		font-family: FiraSans;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}
	span {
		color: white;
		font-family: FiraSans;
		font-size: 14px;
		font-weight: 700;
		// line-height: 64px;
	}
	span.tel:before {
		content: " ";
		background-image: url('../img/phone.png');
		width: 11px;
		height: 11px;
		display: inline-block;
		margin-right: 3px;
	}
	span.email:before {
		content: " ";
		background-image: url('../img/email.png');
		width: 11px;
		height: 8px;
		display: inline-block;
		margin-right: 3px;
	}
}